.abtli{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
   
}
.qnbdy{
    background-color: antiquewhite;
   
}
.container{
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 150px auto;
    text-align: center;
    width: 500px;
    border-radius: 8px;
    height: 550px;
}
.qntit{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: large;
}
.qns {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    display: block;
    width: 100%;
    background-color: white;
    box-sizing: border-box;

}
.option {
    display: block;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: 2px;
    
    

}
label{
    font-weight: bold;
}
label:hover{
    font-size: large;
}
#result{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}